# Data Clearing: Normalisation

## Import Modules

In [1]:
import pandas as pd

## Boolean Normalisation

In [7]:
df = pd.DataFrame({
    'agreement': ['yes', 'no', 'yes', 'no', 'yes'],
    'verified': ['True', 'False', 'True', 'False', 'True']
})
df

  agreement verified
0       yes     True
1        no    False
2       yes     True
3        no    False
4       yes     True

In [10]:
df_norm = df.copy()
df_norm['agreement'] = df_norm['agreement'].map({'yes': 1, 'no': 0})
df_norm['verified'] = df_norm['verified'].map({'True': 1, 'False': 0})
df_norm

   agreement  verified
0          1         1
1          0         0
2          1         1
3          0         0
4          1         1