# Data Preprocessing: Flatten Pivot Column-Names

## Import Modules

In [1]:
import pandas as pd

## Prepare Data

In [3]:
data = {
    'year': [2024, 2019, 2023, 2019, 2023, 2024],
    'income': [1000, 950, 2500, 2300, 1750, 1850]
}
df = pd.DataFrame(data)
df

   year  income
0  2024    1000
1  2019     950
2  2023    2500
3  2019    2300
4  2023    1750
5  2024    1850

## Do something what stacks...

In [4]:
df = df.groupby(['year'])['income'].agg(['count', 'sum', 'mean', 'min', 'max'])
df

      count   sum    mean   min   max
year
2019      2  3250  1625.0   950  2300
2023      2  4250  2125.0  1750  2500
2024      2  2850  1425.0  1000  1850

## Flat the column names

In [6]:
df = df.reset_index().rename_axis(None, axis=1)
df

   year  count   sum    mean   min   max
0  2019      2  3250  1625.0   950  2300
1  2023      2  4250  2125.0  1750  2500
2  2024      2  2850  1425.0  1000  1850