# Data Preprocessing: Modify Columns

## Import Modules

In [1]:
import pandas as pd

## Prepare Data

In [19]:
data = {
    "Names": ["Peter", "Paul", "Mary", "Linda"],
    "Day of Birth": ["1970-01-12", "1983-05-05", "2000-03-17", "1997-10-13"],
    "Children": [0, 2, 1, 5]
}

df = pd.DataFrame(data)
df

   Names Day of Birth  Children
0  Peter   1970-01-12         0
1   Paul   1983-05-05         2
2   Mary   2000-03-17         1
3  Linda   1997-10-13         5

## Rename Columns

### Rename Single Columns

In [20]:
df = df.rename(columns={"Children": "Number Children"})
df

   Names Day of Birth  Number Children
0  Peter   1970-01-12                0
1   Paul   1983-05-05                2
2   Mary   2000-03-17                1
3  Linda   1997-10-13                5

### Rename/modify all Columns

In [21]:
df.columns = [c.lower().replace(" ", "_") for c in df.columns]
df

   names day_of_birth  number_children
0  Peter   1970-01-12                0
1   Paul   1983-05-05                2
2   Mary   2000-03-17                1
3  Linda   1997-10-13                5

## Reorder Columns

In [28]:
df = df[["names", "number_children", "day_of_birth"]]
df

   names  number_children day_of_birth
0  Peter                0   1970-01-12
1   Paul                2   1983-05-05
2   Mary                1   2000-03-17
3  Linda                5   1997-10-13