# Data Preprocessing: Scaling Columns

## Import Modules

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

## Prepare Data

In [2]:
data = {
    "names": ["Peter", "Paul", "Mary", "Linda"],
    "age": [55, 43, 35, 50],
    "salery": [55000, 43000, 52000, 83500]
}
df = pd.DataFrame(data)
df

   names  age  salery
0  Peter   55   55000
1   Paul   43   43000
2   Mary   35   52000
3  Linda   50   83500

## Scale columns

In [4]:
scaler = MinMaxScaler()
df[['age', 'salery']] = scaler.fit_transform(df[['age', 'salery']])
df

   names   age    salery
0  Peter  1.00  0.296296
1   Paul  0.40  0.000000
2   Mary  0.00  0.222222
3  Linda  0.75  1.000000

### As online version

In [5]:
# df[['age', 'salery']] = df[['age', 'salery']].apply(lambda x: MinMaxScaler().fit_transform(x))