# Data Clearing: Change Column Datatypes

## Import Modules

In [1]:
import pandas as pd

## Prepare Data

In [11]:
data = {
    "date_of_birth": ["2000-10-31", "1975-03-25", "1980-01-31"]    
}
df = pd.DataFrame(data)
df

  date_of_birth
0    2000-10-31
1    1975-03-25
2    1980-01-31

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_of_birth  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

## Change DataTypes
See: [to_datetime()](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [13]:
# convert all columns of DataFrame
df = df["date_of_birth"].apply(pd.to_datetime)

#df = df.apply(pd.to_numeric) # convert all columns of DataFrame

# convert just columns "a" and "b"
#df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: date_of_birth
Non-Null Count  Dtype
--------------  -----
3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 156.0 bytes

### Convert all columns

In [14]:
#df = df.apply(pd.to_numeric)