# Data Clearing: One-Hot Encoding

## Import Modules

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## Prepare Data

In [4]:
df = pd.DataFrame({
    "event": ["Event 1", "Event 2", "Event 3", "Event 4", "Event 5"],
    "city": ["Berlin", "Paris", "London", "Berlin", "London"]
})
df

     event    city
0  Event 1  Berlin
1  Event 2   Paris
2  Event 3  London
3  Event 4  Berlin
4  Event 5  London

## Example with Pandas
see also: https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

In [5]:
df_pd = pd.get_dummies(df, columns=['city'])
df_pd

     event  city_Berlin  city_London  city_Paris
0  Event 1         True        False       False
1  Event 2        False        False        True
2  Event 3        False         True       False
3  Event 4         True        False       False
4  Event 5        False         True       False

## Example with SciKit Learn

In [9]:
encoder = OneHotEncoder()
df_sk = encoder.fit_transform(df[['city']]).toarray()
df_sk

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])